<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!--STAGING-->
		<!--<add name="SqlConnection" connectionString="Data Source=as-test-n-db.cq2qr7jqukkm.ap-northeast-1.rds.amazonaws.com,1433;Initial Catalog=ASSIGN_SYSTEM_V2017;Persist Security Info=True;User ID=root;Password=1qazxsW2;Connection Timeout=180;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />-->

		<!--STAGING_OLD-->
		<!--<add name="SqlConnection" connectionString="Data Source=as-test-n-db.cq2qr7jqukkm.ap-northeast-1.rds.amazonaws.com,1433;Initial Catalog=ASSIGN_SYSTEM_V2017_NEW;Persist Security Info=True;User ID=root;Password=1qazxsW2;Connection Timeout=180;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />-->

		<!--Product-->
		<!--<add name="SqlConnection" connectionString="Data Source=as-product.cq2qr7jqukkm.ap-northeast-1.rds.amazonaws.com,1433;Initial Catalog=ASSIGN_SYSTEM_V2017;Persist Security Info=True;User ID=root;Password=!as2017xsW2***;Connection Timeout=180;" providerName="System.Data.SqlClient" />-->
		<!--Local Test-->
		<!-- <add name="SqlConnection" connectionString="Data Source=DESKTOP-A1DEHNR,1433;Initial Catalog=AS_TEST_NEW;Persist Security Info=True;User ID=sa;Password=12345678;Connection Timeout=180;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />  -->



	</connectionStrings>
	<appSettings>
		<add key="SqlFilesDirectory" value="C:\Users\phan huu tin\Desktop\Release Product 2.38\Product2.38\Database" />
	</appSettings>
</configuration>